body {
    background-color: #1A2130;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.hold{
    font-size: 45px;
}
.container {
    width: 80%;
    margin: auto;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

header h1 {
    font-size: 2em;
    color: #00ffff;
}

.best{
    font-size: 20px;
    color: gray;
    margin-top: -15px;
}

.price{
    font-size: 2.5em;
    color: #00ffff;
    white-space: nowrap;
}
.mid{
    font-size: 5em;
    white-space: nowrap;
    font-weight: bold;
}
.average{
    font-size: 15px;
    color: gray;
    margin-top: -10px;
}

.currency-selectors button, .connect-telegram {
    background-color: #333;
    color: #00ffff;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
}

.connect-telegram {
    background-color: #00ffff;
    color: #000;
}

.theme-toggle {
    display: flex;
    align-items: center;
}

#theme-switch {
    display: none;
}

.theme-toggle label {
    width: 40px;
    height: 20px;
    background-color: #444;
    display: inline-block;
    border-radius: 20px;
    position: relative;
}

.theme-toggle label:before {
    content: '';
    width: 18px;
    height: 18px;
    background-color: #00ffff;
    display: block;
    border-radius: 50%;
    position: absolute;
    left: 1px;
    top: 1px;
    transition: left 0.3s;
}

#theme-switch:checked + label:before {
    left: 21px;
}

.statistics {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0;
}

.statistics .stat {
    text-align: center;
    margin: 0px 10px;
}

.statistics .stat p {
    margin: 5px 0;
}

table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
    margin: 10px;
    border-radius: 20px;
}

table th, table td {
    padding: 10px;
    text-align: center;
    margin: 10px;
}

table th {
    font-size: 20px;
    color: gray;
}

.table-row{
    margin-bottom: 10px;
    background-color: #3d3b48d6;
}